.collunsleft{
  display: grid;
  margin-bottom: 30px;


}

.Configurandoas3divs{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 500px 1fr;
}
.Conteudoescondido{
  display: none;
}

#fontsizeinput{
  font-size: 12px;
  margin-left: 15px;
}

button{
  cursor: pointer;
  background-color: rgb(124, 173, 150);
  border: none;
}

span{
 margin-left: 30px;
 margin-right: 10px;
}


.aside{
  display: grid;

}
