.collunsleft{
  display: grid;


}

.Conteudoescondido{
  display: none;
}

button{
  cursor: pointer;
  background-color: rgb(124, 173, 150);
  border: none;
}

span{
 margin-left: 30px;
 margin-right: 10px;
}


.aside{
  display: grid;

}
