.Colunas4{
  display: grid;
  display: none;
  grid-template-columns: 135px 135px 135px 135px 135px 135px 135px 135px ;
  grid-template-rows: 30px 1fr;
  grid-template-areas: 
  "a b c d e f g h"
  "i j k l m n o p";
}

#AjusteColunas124{
  grid-area: a;
  background-color: aqua;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas224{
  grid-area: b;
  background-color:gold;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas324{
  grid-area: c;
  background-color: orange;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas424{
  grid-area: d;
  background-color: aqua;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas524{
  grid-area: e;
  background-color:gold;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas624{
  grid-area: f;
  background-color: orange;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas724{
  grid-area: g;
  background-color: aqua;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas824{
  grid-area: h;
  background-color: gold;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}

#Ajuste-conteudo-Coluna124{
  grid-area: i;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;
  

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna224{
  grid-area: j;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna324{
  grid-area: k;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna424{
  grid-area: l;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna524{
  grid-area: m;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna624{
  grid-area: n;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna724{
  grid-area: o;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna824{
  grid-area: p;
  overflow-wrap:break-word;
    font-size: 10px;
      margin: 0px 4px;
    margin-top: 10px;
    background-color: rgb(138, 228, 228);
}