.Colunas12{
  display: grid;
  display: none;
  grid-template-columns: 135px 135px 135px 135px 135px 135px 135px 135px ;
  grid-template-rows: 30px 1fr;
  grid-template-areas: 
  "a b c d e f g h"
  "i j k l m n o p";
}

#AjusteColunas112{
  grid-area: a;
  background-color: aqua;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas212{
  grid-area: b;
  background-color:gold;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas312{
  grid-area: c;
  background-color: orange;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas412{
  grid-area: d;
  background-color: aqua;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas512{
  grid-area: e;
  background-color:gold;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas612{
  grid-area: f;
  background-color: orange;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas712{
  grid-area: g;
  background-color: aqua;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas812{
  grid-area: h;
  background-color: gold;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}

#Ajuste-conteudo-Coluna112{
  grid-area: i;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;
  

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna212{
  grid-area: j;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna312{
  grid-area: k;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna412{
  grid-area: l;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna512{
  grid-area: m;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna612{
  grid-area: n;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna712{
  grid-area: o;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna812{
  grid-area: p;
  overflow-wrap:break-word;
    font-size: 10px;
      margin: 0px 4px;
    margin-top: 10px;
    background-color: rgb(138, 228, 228);
}