.Colunas7{
  display: grid;
  display: none;
  grid-template-columns: 135px 135px 135px 135px 135px 135px 135px 135px ;
  grid-template-rows: 30px 1fr;
  grid-template-areas: 
  "a b c d e f g h"
  "i j k l m n o p";
}

#AjusteColunas17{
  grid-area: a;
  background-color: aqua;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas27{
  grid-area: b;
  background-color:gold;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas37{
  grid-area: c;
  background-color: orange;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas47{
  grid-area: d;
  background-color: aqua;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas57{
  grid-area: e;
  background-color:gold;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas67{
  grid-area: f;
  background-color: orange;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas77{
  grid-area: g;
  background-color: aqua;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas87{
  grid-area: h;
  background-color: gold;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}

#Ajuste-conteudo-Coluna17{
  grid-area: i;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;
  

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna27{
  grid-area: j;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna37{
  grid-area: k;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna47{
  grid-area: l;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna57{
  grid-area: m;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna67{
  grid-area: n;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna77{
  grid-area: o;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna87{
  grid-area: p;
  overflow-wrap:break-word;
    font-size: 10px;
      margin: 0px 4px;
    margin-top: 10px;
    background-color: rgb(138, 228, 228);
}