.Colunas11{
  display: grid;
  display: none;
  grid-template-columns: 135px 135px 135px 135px 135px 135px 135px 135px ;
  grid-template-rows: 30px 1fr;
  grid-template-areas: 
  "a b c d e f g h"
  "i j k l m n o p";
}

#AjusteColunas111{
  grid-area: a;
  background-color: aqua;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas211{
  grid-area: b;
  background-color:gold;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas311{
  grid-area: c;
  background-color: orange;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas411{
  grid-area: d;
  background-color: aqua;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas511{
  grid-area: e;
  background-color:gold;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas611{
  grid-area: f;
  background-color: orange;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas711{
  grid-area: g;
  background-color: aqua;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}
#AjusteColunas811{
  grid-area: h;
  background-color: gold;
  border-radius: 10px;
  font-size: large;
    margin: 0px 4px;
}

#Ajuste-conteudo-Coluna111{
  grid-area: i;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna211{
  grid-area: j;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna311{
  grid-area: k;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna411{
  grid-area: l;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna511{
  grid-area: m;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna611{
  grid-area: n;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna711{
  grid-area: o;
  overflow-wrap:break-word;
  font-size: 10px;
    margin: 0px 4px;

  margin-top: 10px;
  background-color: rgb(138, 228, 228);
}
#Ajuste-conteudo-Coluna811{
  grid-area: p;
  overflow-wrap:break-word;
    font-size: 10px;
      margin: 0px 4px;
    margin-top: 10px;
    background-color: rgb(138, 228, 228);
}