


.BotãoConteudo{
    padding: 3px;  
    border-radius: 2px 2px 15px;
    margin: 11px;
    

}
.ajustennav{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin-top: 27px;
  
}
.ConteudoEscondidoY{
  display: flex;
  justify-content: center;
}