


.BotãoConteudo{
    padding: 7px;  
    border-radius: 2px 2px 15px;
    margin: 30px;
    

}
.ajustennav{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin-top: 75px;
  
}
.ConteudoEscondidoY{
  display: flex;
  justify-content: center;
}